h1 {
    text-align: center;
}

.suite--failure {
    color: #ED1515;
    background-color: #FFFFFF;
    border-color: #ED1515;
}

.suite--failure:focus,
.suite--failure:hover {
    color: #ED1515;
    background-color: #FFFFFF;
    border-color: #ED1515;
}

.suite--passed {
    color: #0CAB37;
    background-color: #FFFFFF;
    border-color: #0CAB37;
}

.suite--passed:focus,
.suite--passed:hover {
    color: #0CAB37;
    background-color: #FFFFFF;
    border-color: #0B9C32;
}

.test--failure,
.test--error {
    color: #ED1515;
    background-color: #FFFFFF;
    border-color: #ED1515;
}

.test--failure:focus,
.test--error:focus,
.test--failure:hover,
.test--error:hover {
    color: #ED1515;
    background-color: #FFFFFF;
    border-color: #ED1515;
}

.test--passed {
    color: #0CAB37;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}

.test--passed:focus,
.test--passed:hover {
    color: #0CAB37;
    background-color: #FFFFFF;
    border-color: #0BA635;
}

.test--skipped {
    color: #B6B4BA;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}

.test--skipped:focus,
.test--skipped:hover {
    color: #B6B4BA;
    background-color: #FFFFFF;
    border-color: #B6B4BA;
}

.properties__title {
    color: #B6B4BA;
    background-color: #FFFFFF;
    border-color: #B6B4BA;
}

.properties__title:focus,
.properties__title:hover {
    color: #B6B4BA;
    background-color: #FFFFFF;
    border-color: #B6B4BA;
}

.properties,
.test,
.option,
.suite__properties {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: -10px;
}

.properties__list,
.test__messages,
.options__cta,
.test__message {
    margin-top: -10px;
    border: 1px solid #bbb;
    border-radius: 0 0 4px 4px;
    padding: 5px;
    padding-left: 4%;
}

.properties__list th,
.properties__list td {
    padding-left: 10px;
}

.properties__title,
.test__name {
    margin-bottom: 0;
    border-radius: 4px 4px 0 0;
}

.test__message--multiple {
    padding: 5px;
    border-radius: 4px;
    border: solid #bbb 1px;
    margin-bottom: 4px;
}

.test--passed,
.test--skipped {
    border-radius: 4px;
}

.suite__name {
    margin: 0;
    border-radius: 4px 4px 0 0;
    margin-bottom: 5px;
}

.suite__contents {
    margin: -10px 0 0 0;
    border-radius: 0 0 4px 4px;
    border: 1px solid #bbb;
    padding: 0px;
    padding-top: 0px;
}

.flat {
    border-radius: 4px 4px 0 0;
}

.round {
    border-radius: 4px;
}

.label {
    margin-right: 10px;
}

.contracted,
.hidden,
.not_in_search,
.no_visible_tests {
    display: none;
}

.options_container {
    margin: 0 0.5em;
}

.container__suites {
    margin: 0 1em;
}

.container__suites,
.options {
    overflow: scroll;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: inset 30px 30px 30px #1EAEDB;
}

.options_container__toggle {
    margin: 0;
}

.options,
.option__container {
    border: 1px solid #bbb;
    border-radius: 0 0 4px 4px;
    padding: 5px;
}

.option {
    margin-bottom: 1em;
}

.option__title {
    margin-bottom: 0;
}

.search button {
    margin-bottom: 0;
    border-radius: 4px 4px 0 0;
}

.search input {
    margin-top: -1px;
    border-radius: 0 0 4px 4px;
}

.options__icon--colapsed {
    padding: 0;
}

.junit_info {
    text-align: center;
}